<!-- <h1>This is navbar</h1> -->
<mat-toolbar>
  <!-- logo -->
  <a [routerLink]="['/']" class="align-center">
    <mat-icon class="mr10">library_books</mat-icon>
    <span>ExamPortal</span>
  </a>
  <span class="example-spacer"></span>

  <!-- Login -->
  <a *ngIf="!login.isLoggedIn()" [routerLink]="['/login']" mat-button class="example-icon favorite-icon mr20">
    <span> Login </span>
  </a>
  <!-- Signup -->
  <a *ngIf="!login.isLoggedIn()" [routerLink]="['/signup']" mat-button class="example-icon favorite-icon mr20">
    <span>Signup</span>
  </a>
  <!-- Current User -->
  <a *ngIf="login.isLoggedIn()" mat-button class="example-icon favorite-icon mr20">
    {{login.getUser().username}}
  </a>
  <!-- Logout -->
  <a (click)="logout()" *ngIf="login.isLoggedIn()" mat-button class="example-icon favorite-icon mr20">
    <span>Logout</span>
  </a>
</mat-toolbar>