<!-- <h1>This is navbar</h1> -->
<mat-toolbar>
  <!-- logo -->
  <a [routerLink]="['/']" class="align-center">
    <mat-icon class="mr10">library_books</mat-icon>
    <span>ExamPortal</span>
  </a>
  <span class="example-spacer"></span>

  <!-- Login -->
  <a *ngIf="!isLoggedIn" [routerLink]="['/login']" mat-button class="example-icon favorite-icon mr20">
    <span> Login </span>
  </a>
  <!-- Signup -->
  <a *ngIf="!isLoggedIn" [routerLink]="['/signup']" mat-button class="example-icon favorite-icon mr20">
    <span>Signup</span>
  </a>
  <!-- Current User -->
  <button *ngIf="isLoggedIn && user" routerLink="/admin/profile" mat-button class="example-icon favorite-icon mr20">
    {{user.username}}
  </button>
  <!-- Logout -->
  <a (click)="logout()" *ngIf="isLoggedIn" mat-button class="example-icon favorite-icon mr20">
    <span>Logout</span>
  </a>
</mat-toolbar>